<h1>Gurumi the Florist</h1>

<div class="main-container">
  <h2>Gurumi is Omma's cat</h2>
    <p>Omma, who is Gurumi's mama is a great florist. She has started teaching how to make flowers to Gurumi. This website has Omma's flowers including Gurumi's professional tips for making a special bouquet. You will be able to post your own bouquet when you sign up. Kiwi is an admin of this website, so be nice to each other.</p>
</div>
<div class="link">
  <button><%= link_to "See Flowers", flowers_path,{:style=>'color:#2D3339;', :class => "link-to-text-color"}  %></button>
</div>