<h2>Lists of Bouquets</h2>
  <% if @flowers.any? %>
    <ul> 
    <% @flowers.each do |flower| %>
      <li> <a href="/flowers/<%= flower.id %>"> <%= flower.title %> </a></li>
    <% end %>  
    </ul>
    <% else %>  
      <p>There are no flowers to display yet.
  <% end %>

  <button><%= link_to "Post your bouquet", new_flower_path, {:style=>'color:#2D3339;', :class => "link-to-text-color"} %></button>