<h2>Lists of Flowers</h2>
  <% if @flowers.any? %>
    <ul> 
    <% @flowers.each do |flower| %>
      <li> <%= flower.title %></li>
    <% end %>  
    </ul>
    <% else %>  
      <p>There are no flowers to display yet.
  <% end %>

  <button><%= link_to "Post your bouquet", new_flower_path %></button>