/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import  "bootstrap-sprockets";
 @import  "bootstrap";

 body{
  background-color: #9B6A6C;
  font-family: Courier, monospace;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
img{
  opacity: 0.5;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}
.submit-form{
  color: #424B54;
}
.form-group{
  color: #424B54;
}

.flex-container {
  justify-content: space-around;
}

.navButton {
  float: left;
  color: #FFFFFF;
  margin: 2;
  padding: 2px;
  text-align: center;
  padding: 10px;
  border: 1px solid, white;
}
.navigation {
  margin-top: 2vh;
  color: #333533;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid, white;
  border-radius: 8px;
}

.navigation-user{
  flex-flow: row wrap;
  justify-content: flex-end;
  display: inline-flex;
  flex: 1;
  margin-right: 48px;  
}

ul{
  list-style: none;
}
.field{
  color: #2D3339;
}
